<mat-dialog-content>
  <pre><code>{{data.message|json}}</code></pre>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button ngxClipboard [cbContent]="data.message|json" (cbOnSuccess)="ref.close(true)">Copy to clipboard</button>
</mat-dialog-actions>
