<mat-toolbar>
  <a [routerLink]="['/dashboard']" [routerLinkActive]="'mat-raised-button'" mat-button>Dashboard</a>
  <a [routerLink]="['/serviceSearch']" [routerLinkActive]="'mat-raised-button'" mat-button>Service Search</a>
</mat-toolbar>
