md-sidenav-layout.m2app-dark {
  background: black;
}

mat-toolbar{
  background-color: #819fb3;
  color: white;
}
.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.input-text {
  font-size: 14px;
  padding: 0 16px;
  margin-left: 10px;
  color: #312626;
  display: block;
  width: 20%;
  border-width: 1px;
  border-color: rgba(153, 153, 153, 0.5);
  border-style: solid;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}

.mat-raised-button {
  color: #3f51b5;
}
