<h2 mat-dialog-title>Replay message</h2>

<mat-dialog-content>
  <div class="form">
    <div class="row">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Replay endpoint" [(ngModel)]="endpoint">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Replay endpoint type" [(ngModel)]="endpointType">
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{replayEndpoint: endpoint, replayEndpointType: endpointType}">Send</button>
</mat-dialog-actions>
