md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  .service-search-container {
    padding-top: 5px;
    padding-bottom: 12px;
    .title {
      height: 30px;
      margin: 0px 5px 10px 5px;
      line-height: 30px;
      font-weight: bold;
      padding-left: 5px;
      background-color: #819fb3;
      color: white;
    }
  }
  .form-footer {
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;

    button {
      margin-left: 12px;
      background-color: #fcfcfc;
      color: #616161;
    }
  }

  .example-container {
    margin-top: 24px;
    padding-bottom: 12px;
    .table-top-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 24px;
      .seq {
        flex: 1;
      }

      button {
        color: #616161;
      }
    }
    .table-footer-container {
      padding-right: 24px;
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    .mat-table {
      mat-row:nth-child(2n+1) {
        background-color: #f0f0f0;
      }
      .mat-header-row {
        background-color: #dfdfdf;
        .mat-header-cell {
          color: #7aa1ce;
        }
      }
    }
  }
  padding: 20px 20px 24px;
}

.app-content mat-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.mat-form-field.app-input-no-underline .mat-input-underline {
  display: none;
}

.mat-form-field-underline {
  display: none;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.form {
  margin: 0 16px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
  &.flex {
    display: flex;
    flex-direction: column;
    .row {
      flex: 1;
      display: flex;
      margin-top: 12px;
      .form-group {
        &:nth-child(1) {
          width: 50%;
        }
        display: flex;
        flex: 1;

        .seq {
          width: 50%;
        }
        .name-label {
          display: flex;
          width: 50%;
          align-items: center;
          font-size: 12px;
          color: #616161;
          &.type{
            margin-left: -12px;
            margin-right: 12px;
          }
        }
        mat-label {
          flex: 0 40%;
          font-size: 13px;
          padding-top: 10px;
          padding-left: 30px;
          padding-right: 10px;
          color: #000;
          line-height: 18px;
        }
        .input-text {
          font-size: 14px;
          padding: 0 5px;
          color: #312626;
          display: block;
          width: 50%;
          border-color: white;
          background-color: white;
          height: 40px;
          line-height: 40px;
        }
        .input-double-text {
          font-size: 14px;
          color: #312626;
          display: block;
          width: 50%;
          margin-left: 10px;
          border-color: white;
          background-color: white;
          height: 40px;
          line-height: 40px;
        }
        .input-select {
          background-color: white;
          padding-left: 10px;
          font-size: 14px;
          color: #312626;
          display: block;
          width: 50%;
          height: 40px;
          line-height: 40px;
        }
        .input-date {
          font-size: 14px;
          padding: 0 16px;
          color: #312626;
          display: block;
          width: 50%;
          margin-left: 10px;
          border-width: 1px;
          border-color: rgba(153, 153, 153, 0.5);
          border-style: solid;
          background-color: white;
          height: 40px;
          line-height: 40px;
        }
      }
      .form-single {
        display: flex;
        &:first-child {
          width: 50%;
        }
        .col {
          flex: 1;
          .row {
            display: flex;
            padding: 5px 0;
            mat-label {
              flex: 0 40%;
              font-size: 13px;
              padding-top: 12px;
              padding-left: 30px;
              padding-right: 10px;
              color: #000;
              line-height: 18px;
            }
            .input-text {
              font-size: 14px;
              color: #312626;
              display: block;
              padding: 0 5px;
              width: 50%;
              border-color: white;
              background-color: white;
              height: 40px;
              line-height: 40px;
            }
            .input-select {
              background-color: white;
              padding-left: 10px;
              font-size: 14px;
              color: #312626;
              display: block;
              width: 50%;
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}

.mat-select-disabled /deep/ .mat-select-trigger {
  opacity: .6;
}
