<app-sd-header></app-sd-header>
<div class="app-content">
  <div class="service-search-container mat-elevation-z5">
    <div class="title mat-elevation-z1">Service Search</div>
    <div class="form flex mat-elevation-z1">
      <div class="row">
        <div class="form-single">
          <div class="col">
            <div class="row">
              <mat-label>
                Service Provider
              </mat-label>
              <mat-select class="input-select v" [(value)]="providerId" (change)="provider$.next($event)">
                <mat-option *ngFor="let provider of serviceProviders|async" [value]="provider.value">
                  {{ provider.label }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-single">
          <div class="col">
            <div class="row">
              <mat-label>
                Service
              </mat-label>
              <mat-select
                class="input-select v"
                [(value)]="serviceName"
                [disabled]="!(serviceNames|async)"
                (change)="service$.next($event)"
              >
                <mat-option *ngFor="let service of serviceNames|async" [value]="service.value">
                  {{ service.label }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-single">
          <div class="col">
            <div class="row">
              <mat-label>
                Service Version
              </mat-label>
              <mat-select class="input-select v" [(value)]="versionId" [disabled]="!(serviceVersions|async)">
                <mat-option *ngFor="let version of serviceVersions|async" [value]="version.value">
                  {{ version.label }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <button mat-button class="mat-elevation-z1" (click)="search()">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        <span>Search</span>
      </button>
      <button mat-button class="mat-elevation-z1" (click)="clear()">
        <span>Clear</span>
      </button>
    </div>
  </div>
  <div class="example-container mat-elevation-z5">

    <div class="table-top-container">
      <button mat-button class="mat-elevation-z1" (click)="resetSortOrder()">Reset Sort Order</button>
      <div class="seq"></div>
      <mat-paginator [length]="dataSource ? dataSource.getLength() : 0 "
                     [pageSize]="dataSource ? dataSource.getPageSize() : 0"
                     [pageSizeOptions]="pageSizeOptions"
                     [showFirstLastButtons]="true"
                     (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>

    <mat-table matSort (matSortChange)="sortData($event)"
               [dataSource]="dataSource">

      <!-- Provider Column -->
      <ng-container matColumnDef="Provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceProvider" > Provider </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provider}} </mat-cell>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="Service">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Service </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service}} </mat-cell>
      </ng-container>

      <!-- Version Column -->
      <ng-container matColumnDef="Version">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceVersion"> Version </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

