<app-sd-header></app-sd-header>
<div class="app-content">

  <div class="service-search-container mat-elevation-z5">
    <div class="title mat-elevation-z1">Search Dashboard</div>


    <div class="form flex mat-elevation-z1">
      <div class="row">
        <div class="form-group">
          <mat-label>
            Service Provider
          </mat-label>
          <mat-select class="input-select v" [(value)]="providerId" (change)="provider$.next($event)">
            <mat-option *ngFor="let provider of serviceProviders|async" [value]="provider.value">
              {{ provider.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Message Type
          </mat-label>
          <mat-select class="input-select" [(value)]="messageTypeId">
            <mat-option *ngFor="let type of messageTypes|async" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <mat-label>
            Service
          </mat-label>
          <mat-select
            class="input-select v"
            [(value)]="serviceName"
            [disabled]="!(serviceNames|async)"
            (change)="service$.next($event)"
          >
            <mat-option *ngFor="let service of serviceNames|async" [value]="service.value">
              {{ service.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Replay Y/N
          </mat-label>
          <mat-select class="input-select" [(value)]="replayType">
            <mat-option *ngFor="let type of replayTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Service Version
          </mat-label>
          <mat-select class="input-select v" [(value)]="versionId" [disabled]="!(serviceVersions|async)">
            <mat-option *ngFor="let version of serviceVersions|async" [value]="version.value">
              {{ version.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Sync/Async
          </mat-label>
          <mat-select class="input-select" [(value)]="transmissionType">
            <mat-option *ngFor="let type of transmissionTypes|async" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Requesting System
          </mat-label>
          <mat-select class="input-select v" [(value)]="requestingSystemId">
            <mat-option *ngFor="let system of requestingSystems|async" [value]="system.value">
              {{ system.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>
            Status
          </mat-label>
          <mat-select class="input-select" [(value)]="statusCd">
            <mat-option *ngFor="let status of statuses|async" [value]="status.value">
              {{ status.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <mat-label>
            Requesting System Message ID
          </mat-label>
          <input matInput class="input-text" type="text" [(ngModel)]="requestingSystemMessageId"/>
        </div>
        <div class="form-group">
          <mat-label>
            Correlation ID
          </mat-label>
          <input matInput class="input-text" [(ngModel)]="correlationId"/>
        </div>
      </div>

      <div class="row">
        <div class="form-single">
          <div class="col">
            <div class="row">
              <mat-label>
                User ID
              </mat-label>
              <input matInput type="text" class="input-text" [(ngModel)]="userId"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <mat-label>
            Start Date/Time
          </mat-label>
          <mat-form-field class="md2-field">
            <input class="hidden" matInput [(ngModel)]="startDt">
            <md2-datepicker type="datetime" [(ngModel)]="startDt"></md2-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-label>
            Stop Date/Time
          </mat-label>
          <mat-form-field class="md2-field">
            <input class="hidden" matInput [(ngModel)]="endDt">
            <md2-datepicker type="datetime" [(ngModel)]="endDt"></md2-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="seq"></div>
          <div class="name-label type">Name</div>
          <div class="name-label">Value</div>
        </div>
        <div class="form-group">
          <div class="seq"></div>
          <div class="name-label type">Name</div>
          <div class="name-label">Value</div>
        </div>
      </div>
      <div class="row" *ngFor="let chunk of attrs">
        <ng-container *ngFor="let attr of chunk;let first=first;let last=last">
          <div class="form-group">
            <mat-label>
              Message Attribute Name
            </mat-label>
            <input matInput class="input-double-text" [(ngModel)]="attr.name" />
            <input matInput class="input-double-text" [(ngModel)]="attr.value" />
          </div>
          <div class="form-group" *ngIf="last&&first"></div>
        </ng-container>
      </div>
      <div class="row to-right btns-row">
        <button
          mat-button
          color="warn"
          class="mat-elevation-z1"
          (click)="attrs.pop()"
          *ngIf="attrs.length > 1"
        >Remove Row</button>
        <button mat-button color="primary" class="mat-elevation-z1" (click)="addAttr()">Add More</button>
      </div>
    </div>
    <div class="form-footer">
      <button mat-button class="mat-elevation-z1" (click)="search()">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        <span>Search</span>
      </button>
      <button mat-button class="mat-elevation-z1" (click)="clear()">
        <span>Clear</span>
      </button>
    </div>
  </div>


  <div class="example-container mat-elevation-z5">

    <div class="table-top-container">
      <button mat-button class="mat-elevation-z1" (click)="resetSortOrder()">Reset Sort Order</button>
      <div class="seq"></div>
      <mat-paginator
        [length]="dataSource ? dataSource.getLength() : 0 "
        [pageSize]="dataSource ? dataSource.getPageSize() : 0"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>


    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" [matSortActive]="sortBy" [matSortDirection]="sortOrder">

      <ng-container matColumnDef="Select" class="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [indeterminate]="false" [(ngModel)]="element.selected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceProvider"> Provider</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provider}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Service">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceName"> Service</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.service}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Version">
        <mat-header-cell *matHeaderCellDef mat-sort-header="serviceVersion"> Version</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.version}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Sync/Async">
        <mat-header-cell *matHeaderCellDef mat-sort-header="transmissionType"> Sync/Async</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transmissionType}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef mat-sort-header="messageType"> Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getMessageTypeById(element.typeId)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="UserID">
        <mat-header-cell *matHeaderCellDef mat-sort-header="userId"> UserID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="RequestingSystem">
        <mat-header-cell *matHeaderCellDef mat-sort-header="requestingSystem">Requesting System</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sdRequestingSystem ? element.sdRequestingSystem.name : ''}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="RequestingSystemMessage">
        <mat-header-cell *matHeaderCellDef mat-sort-header="requestingSystemMessageId">Requesting System Message</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.requestingSystemMessageId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header="statusCd"> Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Replay">
        <mat-header-cell *matHeaderCellDef mat-sort-header="replayMessage"> Replay</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.replay}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header="createdDate"> Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.timestamp|date:'short'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="table-footer-container">
      <button mat-button class="mat-elevation-z1" (click)="displayMessage()" *ngIf="getSelectedMessages().length === 1">
        Display Message
      </button>
      <button mat-button class="mat-elevation-z1" (click)="confirmReplay()" *ngIf="canReplay|async">
        Replay Selected
      </button>
    </div>
  </div>
</div>
